.button-store {
  display: inline-block;
  background-color: #252c41;
  color: #fff;
  font-size: 20px;
  font-family: Arial, "roboto", sans-serif;
  width: 200px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-right: 0;
  text-decoration: none;
}

.button-store.-second {
  background-color: transparent;

  width: 218px;

  border: 2px solid #fff;
  box-sizing: border-box;

  line-height: 56px;
}
