.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 50px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "roboto", sans-serif;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.header-store > .navigation {
  font-size: 20px;
  font-family: "Segoe UI", "roboto", sans-serif;
  float: right;
}

.header-store .item {
  display: inline-block;
  margin-right: 60px;
  padding-bottom: 8px;
}

.header-store .item.-menu {
  display: none;
}
.header-store .action {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.header-store .item.-last {
  margin-right: 0;
}

.header-store .border {
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 200ms linear;
}

.header-store .action:hover .border {
  transform: scale(1);
}

@media (max-media: 1310px) {
  .header-store {
    padding-right: 60px;
  }
}

@media (max-width: 1235px) {
  .header-store {
    margin-bottom: 70px;
  }
  .header-store > .title {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .header-store > .navigation {
    float: none;
    text-align: center;
  }
}

@media (max-width: 955px) {
  .header-store {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 530px) {
  .header-store .item {
    margin-right: 30px;
  }
}

@media (max-width: 465px) {
  .header-store .item {
    margin-right: 15px;
  }
}

@media (max-width: 375px) {
  .header-store {
    margin-left: 16px;
    padding-right: 16px;
  }
}
.header-store .item {
  margin-right: 8px;
}
@media (max-width: 335px) {
  .header-store .item.-menu {
    display: block;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    background: url(../img/menu.svg) #fff no-repeat center;
    text-indent: -9999px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    cursor: pointer;
  }

  .header-store .list {
    background-color: #fff;
    color: black;
    width: 100vw;
    padding: 40px 0 20px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 400ms linear;
  }

  .header-store .list.-active {
    transform: translateX(0);
  }
  .header-store .list.-active .item.-menu {
    transform: translateX(0);
    transition: none;
    background: url(../img/close.svg) no-repeat;
    background-size: 65%;
  }
  .header-store .item {
    display: block;
  }
}
